*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:
Segoe UI;

}


body{

background:

linear-gradient(
135deg,
#020617,
#0f172a
);

color:white;

min-height:100vh;

}



nav{

display:flex;

justify-content:
space-between;

padding:20px 40px;

background:

rgba(
255,
255,
255,
0.05
);

backdrop-filter:
blur(20px);

}



nav h1{

color:#00e5ff;

}



nav a{

color:white;

text-decoration:none;

}



.title{

text-align:center;

margin:40px;

font-size:45px;

color:#00e5ff;

}



table{

width:95%;

margin:auto;

background:

rgba(
255,
255,
255,
0.05
);

border-radius:
20px;

overflow:hidden;

border-collapse:
collapse;

}



th{

background:

#00e5ff;

color:black;

padding:20px;

}



td{

padding:18px;

border-bottom:

1px solid

rgba(
255,
255,
255,
0.1
);

}



tr:hover{

background:

rgba(
255,
255,
255,
0.08
);

}