body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
    padding: 20px;
}

.stats {
    display: flex;
    gap: 15px;
}

.box {
    flex: 1;
    background: rgba(255,255,255,0.06);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.orders {
    margin-top: 20px;
}

.order {
    background: rgba(255,255,255,0.06);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}