body{

background:

#020617;

color:white;

font-family:

Segoe UI;

}



.navbar{

display:flex;

justify-content:
space-between;

padding:

20px;

background:

rgba(
255,
255,
255,
0.05
);

}



#search{

padding:15px;

border:none;

border-radius:

20px;

}



.stats{

display:grid;

grid-template-columns:

repeat(
2,
1fr
);

gap:20px;

padding:20px;

}



.stat{

padding:30px;

background:

rgba(
255,
255,
255,
0.05
);

text-align:center;

border-radius:

20px;

}



.inventory-container{

display:grid;

grid-template-columns:

repeat(

auto-fit,

minmax(
250px,
1fr
)

);

gap:20px;

padding:20px;

}



.inventory-card{

padding:25px;

background:

rgba(
255,
255,
255,
0.05
);

border-radius:

20px;

text-align:center;

}



.inventory-card img{

width:100%;

height:200px;

object-fit:cover;

}



.available{

color:lime;

}



.low{

color:orange;

}



.out{

color:red;

}



.buttons{

margin:20px;

}



.buttons button{

width:40px;

height:40px;

border:none;

border-radius:

50%;

}



.update{

padding:15px;

width:100%;

background:

#06b6d4;

border:none;

}