*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}


body{

background:
#0f172a;

color:white;

}


.navbar{

display:flex;

justify-content:
space-between;

padding:
20px;

background:
#111827;

position:sticky;

top:0;

z-index:100;

}



.logo{

font-size:
28px;

font-weight:
bold;

color:
cyan;

}



.search-box{

display:flex;

gap:
10px;

}



.search-box input{

padding:
10px;

width:
220px;

border:none;

border-radius:
20px;

}



.search-box button{

padding:
10px;

background:
cyan;

border:none;

border-radius:
50%;

}



.nav-links{

display:flex;

gap:
20px;

}



.nav-links a{

text-decoration:none;

color:white;

}



.title{

text-align:center;

margin:
30px;

font-size:
40px;

}



.filters{

display:flex;

justify-content:
center;

gap:
10px;

margin-bottom:
30px;

}



.filters button{

padding:
10px 20px;

border:none;

background:
#1e293b;

color:
white;

border-radius:
20px;

}



.products{

display:grid;


grid-template-columns:

repeat(
4,
1fr
);


gap:
20px;

padding:
20px;

}



.card{

background:
#1e293b;

padding:
15px;

border-radius:
20px;

text-align:
center;

transition:
0.3s;

}



.card:hover{

transform:
translateY(-10px);

}



.card img{

width:
100%;

height:
160px;

object-fit:
cover;

border-radius:
15px;

}



.card h3{

margin:
10px 0;

font-size:
18px;

}



.price{

font-size:
22px;

color:
cyan;

}



.green{

color:
lime;

}


.red{

color:
red;

}



.buttons{

display:flex;

gap:
8px;

margin-top:
15px;

}



.buttons a{

flex:
1;

padding:
10px;

text-decoration:
none;

border-radius:
10px;

font-size:
12px;

}



.view{

background:
blue;

color:
white;

}


.cart{

background:
orange;

color:
black;

}



.wish{

background:
hotpink;

}



@media(
max-width:900px
){

.products{

grid-template-columns:
repeat(
2,
1fr
);

}

}



@media(
max-width:500px
){

.products{

grid-template-columns:
1fr;

}

}