!DOCTYPE html>
<html>
<head>
    <title>All Orders</title>
    <link rel="stylesheet" href="/static/css/profile.css">
<script
defer

src="{% static 'js/admin_profile.js' %}">

</script>

</head>
<body>
    <nav>
        <div class="logo">My App</div>
        <ul>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

   <h1>

All Orders

</h1>


<table>

<tr>

<th>

Customer

</th>

<th>

Product

</th>

<th>

Price

</th>

</tr>



{% for order in orders %}


<tr>

<td>

{{order.user.username}}

</td>


<td>

{{order.product_name}}

</td>


<td>

₹{{order.price}}

</td>


</tr>



{% endfor %}

</table>
</body>
</html>
