{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>Customers</title>

<link
rel="stylesheet"
href="{% static 'css/customers.css' %}">

<script
defer
src="{% static 'js/customers.js' %}">
</script>

</head>

<body>


<nav class="navbar">

<div class="logo">

👥 Customers

</div>


<input

id="search"

placeholder="Search customer">


</nav>



<h1 class="title">

Customer Management

</h1>




<section class="customers-container">


{% for customer in customers %}


<div class="customer-card">


<div class="top">


<h2 class="name">

{{customer.user.username}}

</h2>



<span class="premium">

{{customer.role}}

</span>


</div>



<p>

📞

{{customer.phone}}

</p>



<p>

🏠

{{customer.address}}

</p>




<p class="active">

🟢 Active

</p>




<button>

View Profile

</button>


</div>


{% endfor %}



</section>



</body>
</html>