{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width,initial-scale=1">

<title>ShopSphere</title>
<link rel="icon" href="{% static 'images/logo.png' %}">


<link rel="stylesheet"
href="{% static 'css/index.css' %}">

<script defer
src="{% static 'js/index.js' %}">
</script>

</head>

<body>


<nav class="navbar">

<div class="logo">

🛒 ShopSphere

</div>


<ul class="nav-links">

<li><a href="/">Home</a></li>

<li><a href="/products">
Products
</a></li>

<li><a href="/cart">
Cart
</a></li>

<li><a href="/orders">
Orders
</a></li>

<li><a href="/profile">
Profile
</a></li>

</ul>


<div class="search">

    <input type="text" id="searchInput" placeholder="Search products">

  <button type="button" id="searchBtn">
    Search
  </button>
</div>
</nav>



<section class="hero">

<div class="overlay">

<h1>

Smart Ecommerce Platform

</h1>

<p>

Buy Electronics • Fashion • Grocery

</p>


<a href="/products"

class="btn">

Shop Now

</a>


</div>

</section>




<section class="categories">

<div class="cat">

📱 Mobiles

</div>

<div class="cat">

💻 Laptop

</div>

<div class="cat">

⌚ Watch

</div>

<div class="cat">

👟 Shoes

</div>

</section>





<h1 class="title">

Trending Products

</h1>



<section class="products">


<div class="card">

<img src="{% static 'images/iphone.jpg' %}"  alt="iPhone 15"
    title="iPhone 15">

<h2>

iPhone 15

</h2>

<p>

₹79,999

</p>

<button onclick="window.location.href='{% url "products" %}'">
Add Cart

</button>

</div>


<div class="card">

<img src="{% static 'images/camera.Webp' %}"  alt="Camera"
    title="Camera">

<h2>

CameraCanon 1500D

</h2>

<p>

₹1,19,999

</p>

<button onclick="window.location.href='{% url "products" %}'">

Add Cart

</button>

</div>


<div class="card">

<img src="{% static 'images/badminaton.Webp' %}"  alt="badmination"
    title="badmination">

<h2>

Badminaton Racket

</h2>

<p>

₹1,999

</p>

<button onclick="window.location.href='{% url "products" %}'">

Add Cart

</button>

</div>



<div class="card">

<img src="{% static 'images/show.webp' %}"  alt="shoe"
    title="shoe">

<h2>

Blue shoe


</h2>

<p>

₹79,999

</p>

<button onclick="window.location.href='{% url "products" %}'">
Add Cart

</button>

</div>



<div class="card">

<img src="{% static 'images/airpods.jpg' %}"  alt="airbuds"
    title="airbuds">

<h2>

AirBuds


</h2>

<p>

₹79,999

</p>

<button onclick="window.location.href='{% url "products" %}'">
Add Cart

</button>

</div>


<div class="card">

<img src="{% static 'images/acooler.webp' %}"  alt="ac"
    title="ac">

<h2>

Air Cooler


</h2>

<p>

₹79,999

</p>

<button onclick="window.location.href='{% url "products" %}'">
Add Cart

</button>

</div>



<div class="card">

<img src="{% static 'images/apple15laptop.jpg' %}"  alt="laptop"
    title="laptop">

<h2>

Apple Laptop 15

</h2>

<p>

₹89,999

</p>

<button onclick="window.location.href='{% url "products" %}'">
Add Cart

</button>

</div>



<div class="card">

<img src="{% static 'images/fridge.jpg' %}"  alt="fridge"
    title="fridge">

<h2>

Smart Fridge

</h2>

<p>

₹49,999

</p>

<button onclick="window.location.href='{% url "products" %}'">
Add Cart

</button>

</div>
</section>





<section class="review">


<h1>

Customer Reviews

</h1>


<div>

⭐⭐⭐⭐⭐ Nice website

</div>


<div>

⭐⭐⭐⭐⭐ Fast delivery

</div>


<div>

⭐⭐⭐⭐⭐ Good products

</div>


</section>



<footer>

© 2026 ShopSphere | All rights reserved

</footer>



</body>
</html>