{% load static %}

<!DOCTYPE html>
<html>

<head>

<title>

Inventory

</title>


<link

rel="stylesheet"

href=

"{% static 'css/inventory.css' %}"

>


<script

defer

src=

"{% static 'js/inventory.js' %}"

>

</script>


</head>


<body>




<nav class="navbar">


<h1>

📦 Inventory

</h1>



<input

id="search"

placeholder="Search"

>


</nav>






<div class="stats">


<div class="stat">

<h2>

{{total}}

</h2>


<p>

Products

</p>

</div>




<div class="stat">

<h2>

{{low}}

</h2>


<p>

Low Stock

</p>

</div>



</div>









<div class="inventory-container">


{% for product in products %}



<div

class="inventory-card"

>



<img

src=

"{{product.image.url}}"

>




<h2 class="name">

{{product.name}}

</h2>




<p>

Quantity:

<span class="stock">

{{product.stock}}

</span>


</p>






{% if product.stock == 0 %}

<p class="out">

Out Of Stock

</p>


{% elif product.stock < 10 %}


<p class="low">

Low Stock

</p>



{% else %}


<p class="available">

Available

</p>



{% endif %}






{% if user.is_staff %}


<div class="buttons">


<button

onclick=

"decrease(

this

)"

>

-

</button>



<button

onclick=

"increase(

this

)"

>

+

</button>


</div>




<button

class="update"

>

Update

</button>


{% endif %}



</div>



{% endfor %}


</div>



</body>
</html>