{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>My Profile</title>
<link rel="icon" href="{% static 'images/logo.png' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script defer src="{% static 'js/profile.js' %}"></script>
</head>

<body>

<!-- ================= NAVBAR ================= -->
<nav class="navbar">

    <h1 class="logo">🛒 ShopSphere</h1>

    <div class="nav-links">

        <a href="/">🏠 Home</a>
        <a href="/products/">🛍 Products</a>
        <a href="/orders/">📦 Orders</a>
        <a href="/wishlist/">❤️ Wishlist</a>

        <!-- SETTINGS (HIGHLIGHTED) -->
        <a href="/profile/" class="settings-btn">⚙ Settings</a>

        <a href="/logout/" class="logout-btn">🚪 Logout</a>

    </div>
</nav>


<!-- ================= PROFILE BOX ================= -->
<div class="profile-box">

    <!-- TOP SECTION -->
    <div class="top">

        <img class="profile-img"
             src="{% static 'images/media.Webp' %}">

        <div class="user-info">

            <h1>{{ profile.user.username }}</h1>
            <p>{{ profile.user.email }}</p>

            <!--<button onclick="editProfile()" class="edit-btn">
                ✏ Edit Profile
            </button>-->

        </div>
    </div>


    <!-- STATS -->
    <div class="stats">

        <div class="card">
            <h2>{{ orders_count }}</h2>
            <p>Orders</p>
        </div>

        <div class="card">
            <h2>₹{{ total_spent }}</h2>
            <p>Spent</p>
        </div>

        <div class="card">
            <h2>{{ wishlist_count }}</h2>
            <p>Wishlist</p>
        </div>

    </div>


   <!-- View Details -->
<div class="profile-box">
<p><strong>Phone:</strong> {{ profile.phone }}</p>
<br>
<p><strong>Address:</strong> {{ profile.address }}</p>
<br>
<br>
<button type="button"  class="save-btn"
        onclick="document.getElementById('editForm').style.display='block'">
    ✏ Edit Details
</button>
<br>
<br>
</div>

<div id="editForm" style="display:none;">
    <form method="POST">
        {% csrf_token %}

<label for="phone">Phone</label>
<input
    id="phone"
    type="text"
    name="phone"
    value="{{ profile.phone }}"
    placeholder="Enter phone number">

<label for="address">Address</label>
<input
    id="address"
    type="text"
    name="address"
    value="{{ profile.address }}"
    placeholder="Enter address">
<br>
<br>
        <button type="submit" class="save-btn">
            Save Changes
        </button>
    </form>
</div>

<br>
    <!-- QUICK MENU -->
    <div class="menu">

        <a href="/orders/">📦 My Orders</a>
        <a href="/wishlist/">❤️ Wishlist</a>
        <a href="/cart/">🛒 Cart</a>
       
        <a href="/logout/">🚪 Logout</a>

    </div>


</body>
<br>
<br>
<br>
<br>
<br>  
 <center>
<footer>
    © 2026 ShopSphere | All rights reserved
</footer>
</center>
</html>