{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSphere</title>

    <link rel="stylesheet" href="{% static 'css/splashscreen.css' %}">
</head>
<body>

<div class="splash-container">

    <div class="logo-ring">
        <img src="{% static 'images/logoo.jpeg' %}" alt="ShopSphere Logo" class="logo">
    </div>

    <h2 class="brand-name">ShopSphere</h2>

    <p class="tagline">
        Premium Online Shopping
    </p>

</div>

<script src="{% static 'js/splash.js' %}"></script>

</body>
</html>